.panel{
   margin-left: -1.8rem;
}
.info{
   margin-top: 1.5rem;
   margin-left: 6px;
}
.info-group{
   margin-top: 10px;
   .beneficiaryDiv{
      margin-top: 1.3rem;
   }
   h3{
      font-size: 1rem;
   }
   .details{
      font-weight: normal;
      margin-left: 5px;
   }
}