.sales-details-heading{
   display: flex;
   align-items: center;
   h1{
      font-size: 1.5rem;
      color: #5D43FF;
   }
   .sales-icons{
      display: flex;
      align-items: center;
      margin-left: 1.5rem;
      div{
         padding-left: 10px;
      }
   }
}
.add-item-btn{
   margin-top: 2rem;
   margin-bottom: 1rem;
}